@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  /*max-height: 700px;*/
}

h1 {
  margin-top: 10px;
  margin-bottom: 20px;
  text-shadow:        
                  3px 3px 3px #08090a;

}

.logo {
  max-height: 20vh;
  margin-left: 10px;
  margin-right: 10px;
}

.Container {
  position: relative;
  background-color: #16181d;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px auto 10px auto;
  border-radius: 10px;
  width: 80vw;
  height: 95vh;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.TaskDescription {
  width: 80%;
  height: 30%;
  margin: 20px;
  margin-top: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 30px;
  resize: none;
  max-width: 80%;
}

.Button {
  cursor: pointer;
  outline: none;
  position: relative;
  font-weight: bold;
  font-size: 150%;
  color: white;
  width: 60%;
  margin: 20px;
  text-shadow:    -1px -1px 0 #000,      
                  1px -1px 0 #000,    
                  -1px 1px 0 #000,    
                  1px 1px 0 #000,
                  3px 3px 2px #08090a;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Red {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ad6c6c), to(#ff0000));
}

.Button:active.Red{
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#ad6c6c));
}

.Green {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9df382), to(#2c6b02));
}

.Button:active.Green{
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2c6b02), to(#9df382));
}

.Button:disabled {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9b9ba0), to(#4b4b4b));
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
